<ion-view title="Explore" id="page6">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-settings"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="explore-button-bar3" class="button-bar">
      <a ui-sref="myShows" id="explore-button18" style="font-size:13px;" class="button button-dark  button-block">My Shows</a>
      <a ui-sref="today" id="explore-button19" style="font-size:13px;" class="button button-dark  button-block">Today</a>
      <a ui-sref="login" id="explore-button20" style="font-size:13px;" class="button button-dark  button-block">Log In</a>
    </div>
    <form id="explore-form7" class="list">
      <label class="item item-input" name="Search">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search Shows">
      </label>
    </form>
  </ion-content>
</ion-view>