<ion-view title="Login" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="login-form2" class="list">
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input8">
          <input type="text" placeholder="Username">
        </label>
        <label class="item item-input" id="login-input7">
          <input type="password" placeholder="Password">
        </label>
      </ion-list>
      <button id="login-button2" class="button button-dark  button-block">Log in</button>
      <a ui-sref="signup" id="login-button3" class="button button-dark button-small button-block">or Sign Up</a>
      <div class="spacer" style="width: 300px; height: 85px;"></div>
    </form>
  </ion-content>
</ion-view>