<ion-view title="My Shows" id="page7">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-settings"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <div id="myShows-button-bar4" class="button-bar">
      <a ui-sref="explore" id="myShows-button21" style="font-size:13px;" class="button button-dark  button-block">Explore</a>
      <a ui-sref="today" id="myShows-button22" class="button button-dark  button-block">Today</a>
      <a ui-sref="login" id="myShows-button23" class="button button-dark  button-block">Log In</a>
    </div>
  </ion-content>
</ion-view>