<ion-view title="Signup" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="signup-form1" class="list">
      <ion-list id="signup-list1">
        <label class="item item-input" id="signup-input2">
          <input type="text" placeholder="Username">
        </label>
        <label class="item item-input" id="signup-input5">
          <input type="email" placeholder="E-Mail">
        </label>
        <label class="item item-input" id="signup-input3">
          <input type="text" placeholder="Password">
        </label>
      </ion-list>
      <button id="signup-button1" class="button button-dark  button-block">Sign up</button>
    </form>
  </ion-content>
</ion-view>