<ion-view title="Today" id="page5">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-settings"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="today-button-bar2" class="button-bar">
      <a ui-sref="explore" id="today-button11" style="font-size:13px;" class="button button-dark  button-block">Explore</a>
      <a ui-sref="myShows" id="today-button13" style="font-size:13px;" class="button button-dark  button-block">My Shows</a>
      <a ui-sref="login" id="today-button14" style="font-size:13px;" class="button button-dark  button-block">Log In</a>
    </div>
  </ion-content>
</ion-view>